:root {
  --bg-primary: #ecf0f1;
  --bg-secondary: #ffffff;
  --main-text: #333333;
  --secondary-text: #7f8c8d;
  --secondary-color: #3498db;
  --terciary-color: #e74c3c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
  min-width: 230px;
  max-width: 530px;
  background-color: var(--bg-primary);
  font-family: "inter", sans-serif;
}

@media (min-width: 531px) {
  body {
    max-width: 100vw;
  }
}