.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 1rem;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: var(--bg-secondary);
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem var(--secondary-text);
}

.footer {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-text);
}

.todo-actions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 0.5rem;
}

.clear-completed {
  font-weight: bold;
  padding: 4px 8px;
  cursor: pointer;
  color: var(--bg-primary);
}

.clear-completed:hover {
  color: var(--secondary-text);
}