.todo-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: var(--primary-text);
  padding: 0;
  margin: 0;
  gap: 0.5rem;
}

.filters a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-text);
}

.filters a.selected {
  border: 1.4px solid var(--secondary-text);
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: var(--secondary-color);
}

.filters a:focus{
  box-shadow: 0 0 2px 2px var(--secondary-text);
}

.filters a:hover {
  border: 1.2px solid var(--secondary-text);
  border-radius: 0.5rem;
  padding: 0.2rem;
  color: var(--secondary-color);
}
